body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h5 {
    text-align: center;
}

.content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 5px; 
}

.player-choice {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 60vw; 
    border: 2px solid black; 
}

.player-choice > #rock, .player-choice > #paper, .player-choice > #scissors {
    height: 20vh; 
    width: 18vw; 
}

.results {
    border: 2px solid black; 
    height: 30vh; 
    width: 60vw;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#gameover {
    font-size: x-large;
    font-weight: 700;
}

#outcome {
    font-size: large;
    font-weight: 700;
}

#funFact {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .results, .player-choice {
        padding: 5%; 
    }   
   }